<nav class="navbar navbar-dark bg-dark">
    <a href="" class="navbar-brand mx-3">
        <img class="d-inline-block align-top" src="icon.png" width="40" height="40" />
        <span>YetAnotherNoteSaver</span>
    </a>
    <ul class="navbar-nav ms-auto">
        <li class="nav-item mx-3">
            <a class="nav-link" aria-current="page" href="about">About</a>
        </li>
    </ul>
</nav>